name: Build & Push pg-extensions Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        extension: [pg_cron, pg_partman, pg_vector]
        platform: [ linux/amd64, linux/arm64 ]
        include:
          - extension: pg_cron
            tags: ghcr.io/bdanailov/pg-extensions/pgcron:18
          - extension: pg_partman
            tags: ghcr.io/bdanailov/pg-extensions/pgpartman:18
          - extension: pg_vector
            tags: ghcr.io/bdanailov/pg-extensions/pgvector:18
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.${{ matrix.extension }}
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ matrix.tags }}
