name: Build & Push pg-extensions Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        extension: [pg_cron]
        platform: [ linux/amd64, linux/arm64 ]
        include:
          - extension: pg_cron
            tags: ghcr.io/bdanailov/pg-extensions/pgcron:18
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/bake-action@v6
        with:
          files: ${{ matrix.extension }}.metadata.hcl, ./docker-bake.hcl
          push: true
        env:
          extension: ${{ matrix.extension }}
          environment: production
          registry: ghcr.io/${{ github.repository_owner }}
          revision: ${{ github.sha }}
